.navbar {
    margin-bottom: 0;
}

#sidebar-wrapper {
    background: #f8f8f8;
    /* border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-top: 0; */
    margin-top: -1px;
    padding-top: 4px;
}

div.document ul,
div.sidebar ul ul{
    padding-left: 17px;
}

div.sidebar {
    padding-bottom: 14px; /* square */
}

div.sidebar pre {
    font-size: 9px;
}

div.sidebar h3 {
    padding-top: 14px;
    padding-left: 8px;
    font-size: 20px;
}

div.body h1 {
    border-bottom: 1px solid rgb(208, 208, 208);
    padding-bottom: 10px;
}


#sidebar-wrapper {
    overflow-y: auto;
    height: 100%;
}

#sidebar-wrapper.affix-bottom, #sidebar-wrapper.affix-top {
    position: fixed;
    height: 100%;
}

#sidebar-wrapper.affix-bottom, #sidebar-wrapper.affix {
    margin-top: -52px; /* magic */
}

#navbar-related {
    border: 0;
    background: none;
}

body {
    background: #f8f8f8;
}

div.footer-relbar {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

footer {
    color: #777;
    opacity: 0.7;
}

#content-wrapper {
    background: white;
    border: 1px solid #e7e7e7;
    margin-top: -1px;
}

