
/* leftnavbar.css */
@media (min-width: 767px) {
    #content-wrapper, div.footer-relbar, footer {
        position: relative;
        /* left: 25%; */
        margin-left: 25%;
        width: 75%;
    }

    ul.navbar-nav.navbar-right {
        position: fixed;
        right: 24px;
        z-index: 1000;
    }
}
