.navbar {
    margin-bottom: 0;
}

#sidebar-wrapper {
    background: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-top: 0;
    margin-top: -1px;
    padding-top: 4px;
}

div#contents {
    display: none;
}

div.sidebar ul ul {
    padding-left: 20px;
}

div.sidebar pre {
    font-size: 9px;
}

div.sidebar h3 {
    padding-top: 14px;
    padding-left: 8px;
    font-size: 20px;
}

div.body h1 {
    border-bottom: 1px solid rgb(208, 208, 208);
    padding-bottom: 10px;
}
