.navbar {
    margin-bottom: 0;
}

#sidebar-wrapper {
    background: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-top: 0;
    margin-top: -1px;
    padding-top: 4px;
}

div#contents {
    display: none;
}

