
#sidebar-wrapper a.youarehere {
    font-size: 1.4em;
    font-weight: bold;
}

#content-wrapper a.youarehere {
    visibility: visible !important;
}

/* #content-wrapper a.youarehere:after {
 *    content: "⬅"
 * }
 */
