
#sidebar-wrapper a.youarehere {
    font-size: 1.4em;
    font-weight: bold;
}

#content-wrapper a.youarehere {
    visibility: visible !important;
}

#navbar-top a.youarehere {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.4em;
}

/* #content-wrapper a.youarehere:after {
 *    content: "⬅"
 * }
 */
